@use '../../../styles/colors.module.scss'as *;

.card-list-title {
  color: $color__text--primary;
  font-size: 70px;
  margin-top: 1em;
  font-weight: 700;
  text-align: center;
}

.cards-container {
    margin-top: 3rem !important;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 95%;
    height: 100%;

    @media screen and (max-width: 1500px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }