$color__white: #fff;
$color__black: #000;
$color__background: #000;

$color__background--navbar: #01091b;
$color__button--primary: #00ca36;
$color__button--active: #4dff00;
$color__button--secondary: #06a430;

$color__text--primary:#12214a;
$color__text--secondary:#1e3c8c;
$color__text--tertiary: #00c319;
$color__text--quaternary: #999;


$color__red--1: #da0000;
$color__gray--1: #e0e0e0;
$color__gray--2: #999;
$color__gray--3: #666;
$color__gray--4: #222;
$color__green: #4dff00;
$color__green--opacity: #4dff006b;
