@use '../../../styles/colors.module.scss'as *;
@use '../../../styles/form.module.scss' as *;

.container-page {
  margin: 5% 28%;
  padding: 40px 40px 50px 40px;
  box-shadow: -10px 12px 10px 3px $color__gray--1;
  border-radius: 24px;
  .container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: $color__text--primary;
      text-align: left;
      margin: auto;
      font-weight: 500;
      font-size: 3em;
    }
    p{
      padding-top: 20px;
      text-align: center;
      color: #000;
      a{
        color: $color__button--secondary
      }
    }
  }

  .form-control {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 40px 17% 20px 17%;

    .input-container {
      position: relative;
      margin-bottom: 1.5rem;
    }

    span{
      color: red;
      font-size: 12px;
    }

    .label {
      position: absolute;
      top: 10px;
      left: 10px;
      color: $color__gray--2;
      font-size: 15px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      pointer-events: none;
      transition: 0.2s ease all;
    }

    .input-group {
      padding: 10px 10px;
      font-size: 15px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      width: 100%;
      border: none;
      border-bottom: 2px solid $color__gray--2;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-bottom-color: $color__button--primary;
      }

      &:focus + .label, &:not(:placeholder-shown) + .label {
        top: -20px;
        font-size: 12px;
        color: $color__button--primary;
      }
    }

    .btn-register {
      margin-top: 1rem;
      background-color: $color__button--primary;
      color: $color__white;
      border: none;
      border-radius: 4px;
      width: 150px;
      height: 50px;
      font-size: 20px;
      font-weight: 400;
      padding: 15px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: calc(100% + 20px);

      &:hover {
        background-color: $color__button--secondary;
      }

      &:active {
        background-color: $color__button--active;
      }
    }

    @media screen and (max-width: 320px) {
      a {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 767px) and (min-width: 423px) {
  .container-page {
      margin: 5% 15%;
      padding: 44px;
  }
}

@media screen and (max-width: 422px) {
  .container-page {
      margin: 5% 5%;
      padding: 33px;
      box-shadow: none;
  }
}
